name: Build Docker Image and Generate SBOM

on:
  push:
    branches: [ master ]

jobs:
  build-and-sbom:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5  # Build-push için v5 güncel ve stabil
        with:
          context: .
          tags: ${{ secrets.DOCKER_USERNAME }}/juice-shop:latest
          push: true

      - name: Install Syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Generate SBOM from Docker image
        run: |
          syft ${{ secrets.DOCKER_USERNAME }}/juice-shop:latest -o cyclonedx-json > sbom.cdx.json

      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v4
        with:
          name: juice-shop-sbom
          path: sbom.cdx.json
